@import '../../../styles/mixins';
@import '../../../styles/variables';

.type-container{
    .type-input{
        @include centralize;
        gap: 16px;
        z-index: 10;
        label{
            @include text(
                $color: $gray-color,
                $size: 14px,
                $weight: 500
            )
        }
    }
}