@import '../../styles/mixins';
@import '../../styles/variables';

.secondary-button{
    border: none;
    outline: none;
    background: none;
    margin-top: 16px;
    a{
        @include text($dark-gray-color, 18px, 500)
    }
}

