@import '../../styles/mixins';
@import '../../styles/variables';

.buttons-container{
    @include centralize(center, center, column);
    width: 100%;
    position: absolute;
    bottom: calc(68px + 54px);
    padding-inline: 20px;
    .button{
        margin-top: 32px;
        width: 100%;
        height: 55px;
        border-radius: 50px;
        background-color: $primary-color;
        outline: none;
        border: none;
        a{
            @include text($white-color, 24px)
        }
    }
}