$primary-color: #184E77;
$gray-color: #ACA9A9;
$light-gray-color: #E6E6EF;
$dark-gray-color: #7D7C84;
$white-color: #FFFF;
$green-color: #185912;
$red-color: #740b0b;
$yellow-color: #9f760e;

$padding-mobile: 0 20px;