@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import '../styles/mixins';
@import '../styles/variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    user-select: none;
    font-family: 'DM Sans', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
}

a{
    @include centralize;
}

.App{
    width: 100%;
    height: 100vh;
}

.section-title{
    @include text($dark-gray-color, 24px, 700);
    margin-bottom: 32px;
}

.step-container{
    @include centralize($direction: column);
}

.label-input,
.select-input{
    width: 100%;
    position: relative;
    .span-input {
        position: absolute;
        left: 16px;
        top: -10px;
        @include text($gray-color, 14px, 500);
    }
}