@import "../../styles/mixins";
@import "../../styles/variables";

.home-container {
    border-radius: 10px;
    overflow-y: scroll;
    width: 100%;
    max-height: calc(100% - (68px + 16px));
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    padding-bottom: 16px;
}

.cards-container-home {
    margin-top: 50px;
    border-radius: 10px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: auto;
    width: 100%;
    .card-container {
        scroll-snap-align: start;
    }
    &:empty {
        height: 100%;
        width: 100%;
        @include centralize();
        overflow: hidden;
        &::after {
            font-weight: 700;
            font-size: 30px;
            color: $dark-gray-color;
            content: "Nenhum evento agendado :(";
            width: 240px;
            text-align: center;
        }
    }
}

.cards-container-notification {
    margin: 0;
    height: 100%;
    scroll-snap-type: none;
    &:has(.personal-cards:empty) {
        overflow: hidden;
    }
    .personal-cards {
        &:empty {
            height: 100%;
            width: 100%;
            @include centralize();
            overflow: hidden;
            &::after {
                font-weight: 700;
                font-size: 30px;
                color: $dark-gray-color;
                content: "Nenhum evento agendado :(";
                width: 240px;
                text-align: center;
            }
        }
    }
}

.layout-container {
    &:has(.cards-container-home:empty),
    &:has(.demo) {
        overflow: hidden;
    }
    &:has(.personal-info-container) {
        padding-top: 0;
        padding-bottom: 60px;
    }
    &:has(input[type="text"]:focus),
    &:has(textarea:focus) {
        :not(.login_content) {
            ~.buttons-container,
            .options-container{
                display: none;
            }
        }
        :not(.login_content) {
            ~.buttons-container {
                transition: 0.2s;
                display: flex;
                align-items: flex-end;
                bottom: 40px;
                .button {
                    z-index: 10;
                    width: 80px;
                    a {
                        font-size: 0;
                        &::before {
                            content: ">";
                            transform: rotate(90deg);
                            font-size: 30px;
                        }
                    }
                }
                .secondary-button {
                    display: none;
                }
            }
        }
        .navbar {
            display: none;
        }
    }
}
