@import "../../../styles/mixins";
@import "../../../styles/variables";

.date-input {
    position: relative;
    @include centralize;    
    width: 260px !important;
    input {
        background-color: $white-color;
        width: 100%;
        border-radius: 10px;
        border: none;
        outline: none;
        @include text($dark-gray-color, 18px, 500);
        padding: 0 20px;
        height: 55px;
        position: relative;
    }
}
