@import '../../styles/mixins'; 
@import '../../styles/variables'; 

.input{
    &::placeholder{
        opacity: 50%;
    }
    @include input();
    &Null{
        transition: .3s ease-in-out;
        border: 2px solid red;
    }
}